<section class="box">
    {{if .Article}}
        <div class="title">{{.Article.Title}}</div>
        <div class="time">时间：{{.Article.UpdatedAt | FromUnixtimeShort}}</div>
        {{if .Article.TagName}}
        <div class="tag">tag：{{.Article.TagName}}</div>
        {{end}}
        {{if .Author}}
        <div class="author">author：{{.Author.Username}}</div>
        {{end}}
        <div>{{.Article.Content | Html}}</div>
        {{if .Prev}}
        <div class="prev">
            上一篇: <a href="/article/{{.Prev.ID}}">{{.Prev.Title}}</a>
        </div>
        {{end}} 
        {{if .Next}}
        <div class="next">
            下一篇: <a href="/article/{{.Next.ID}}">{{.Next.Title}}</a>
        </div>
        {{end}} 
    {{end}}
</section>
